Packages

In [46]:
!pip3 install psycopg2
!pip3 install neo4j

Requirement already satisfied: psycopg2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.9.10)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip
Collecting neo4j
  Downloading neo4j-6.0.2-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: pytz in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from neo4j) (2025.1)
Downloading neo4j-6.0.2-py3-none-any.whl (325 kB)
Installing collected packages: neo4j
Successfully installed neo4j-6.0.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip

In [ ]:
import pandas as pd
import json
import psycopg2
from neo4j import GraphDatabase

#### Connect to Database `nourish@awesome-hw.sdsc.edu`

In [ ]:
conn = psycopg2.connect(
    host="awesome-hw.sdsc.edu",
    port=5432,
    dbname="nourish",
    user="swhoyle",
    password="dse203#2025"
)

with conn.cursor() as cursor:
    cursor.execute("SELECT version();")
    print(cursor.fetchone()[0])

    cursor.execute("SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES")
    print(cursor.fetchall()[0][0], "tables found in the database.")

PostgreSQL 12.18 (Ubuntu 12.18-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.2) 9.4.0, 64-bit
363 tables found in the database.

#### Create Entity tables and export data to JSON files

In [ ]:

# Create entity tables
print("Creating entity tables...")
with open ("../scripts/create_entity_tables.sql", "r") as f:
    sql = f.read()
with conn.cursor() as cursor:
    cursor.execute(sql)
    conn.commit()

# Export entity tables to JSON files
print("Exporting entity tables to JSON files...")
entities = ["state", "county", "city", "community", "zipcode"]
for entity in entities:

    with conn.cursor() as cursor:
        cursor.execute(f"SELECT * FROM entity_{entity};")
        columns = [desc[0] for desc in cursor.description]
        rows = cursor.fetchall()
        results = [dict(zip(columns, row)) for row in rows]

    with open(f"../data/{entity}.json", "w") as f:
        json.dump(results, f, indent=4)

    print(f"-- {entity}.json exported.")

Creating entity tables...
Exporting entity tables to JSON files...
-- state.json exported.
-- county.json exported.
-- city.json exported.
-- community.json exported.
-- zipcode.json exported.

#### Create relationship table and export data to JSON file

In [32]:
# Create relationship table
print("Creating relationship table...")
with open ("../scripts/create_relationship_table.sql", "r") as f:
    sql = f.read()
with conn.cursor() as cursor:
    cursor.execute(sql)
    conn.commit()


# Export relationship table to JSON file
print("Exporting relationship table to JSON file...")
with conn.cursor() as cursor:
    cursor.execute("SELECT * FROM entity_relationships;")
    columns = [desc[0] for desc in cursor.description]
    rows = cursor.fetchall()
    results = [dict(zip(columns, row)) for row in rows]
    
with open("../data/relationships.json", "w") as f:
    json.dump(results, f, indent=4)

print(f"-- relationships.json exported.")

Creating relationship table...
Exporting relationship table to JSON file...
-- relationships.json exported.

#### Connect to neo4j

In [ ]:
uri = "bolt://awesome-compute.sdsc.edu:7687"
username = "neo4j"
password = "Vabv6YKC"

driver = GraphDatabase.driver(uri, auth=(username, password))
with driver.session() as session:
    result = session.run("MATCH (n) RETURN count(n) AS cnt")
    print(result.single()["cnt"], "nodes in the graph")

242792 nodes in the graph

#### Load Entities to neo4j

In [155]:
print("Ingesting entity data into Neo4j...")

# Delete existing nodes:
print("\nDeleting existing nodes...")
for entity in entities:
    
    # Delete existing nodes of this entity type
    entity_label = entity.capitalize()

    with driver.session() as session:
        existing_count = session.run(f"MATCH (n:{entity_label}) RETURN count(n) AS cnt").single()["cnt"]
        session.run(f"MATCH (n:{entity_label}) DETACH DELETE n")
    print(f"-- {existing_count} {entity_label} nodes deleted.")


print(f"\nCreating nodes...")
for entity in entities:

    with open(f"../data/{entity}.json", "r") as f:
        data = json.load(f)

    # Delete existing nodes of this entity type
    entity_label = entity.capitalize()

    # Create nodes in neo4j for each entity
    with driver.session() as session:
        for record in data:
            props = ", ".join([f"{key}: ${key}" for key in record.keys()])
            query = f"CREATE (n:{entity_label} {{{props}}})"
            session.run(query, **record)
    print(f"-- {len(data)} {entity_label} nodes created.")

Ingesting entity data into Neo4j...

Deleting existing nodes...
-- 0 State nodes deleted.
-- 0 County nodes deleted.
-- 0 City nodes deleted.
-- 0 Community nodes deleted.
-- 0 Zipcode nodes deleted.

Creating nodes...
-- 1 State nodes created.
-- 1 County nodes created.
-- 54 City nodes created.
-- 229 Community nodes created.
-- 99 Zipcode nodes created.

#### Query Entity data in neo4j

In [106]:
# For each entity, show top 3 nodes
for entity in entities:
    entity_label = entity.capitalize()
    entity_count = driver.session().run(f"MATCH (n:{entity_label}) RETURN count(n) AS cnt").single()["cnt"]
    node_text = "nodes" if entity_count != 1 else "node"
    print(f"{entity_label}: {entity_count} {node_text} found.")
    with driver.session() as session:
        result = session.run(f"MATCH (n:{entity_label}) RETURN n LIMIT 3")
        i = 0
        for record in result:
            if i > 1:
                print("...")
            print(record.data())
            i += 1


    print("")

State: 1 node found.
{'n': {'code': 'CA', 'name': 'California', 'id': 1}}

County: 1 node found.
{'n': {'name': 'San Diego', 'id': 37}}

City: 54 nodes found.
{'n': {'name': 'Poway', 'id': 20}}
{'n': {'name': 'National City', 'id': 18}}
...
{'n': {'name': 'Oceanside', 'id': 19}}

Community: 229 nodes found.
{'n': {'name': 'Mission Grove', 'id': 253}}
{'n': {'name': 'North City', 'id': 371}}
...
{'n': {'name': 'Midtown', 'id': 60}}

Zipcode: 99 nodes found.
{'n': {'zipcode': '91945'}}
{'n': {'zipcode': '91901'}}
...
{'n': {'zipcode': '92128'}}

#### Add entity relationships to neo4j

In [ ]:
with open("../data/relationships.json", "r") as f:
    data = json.load(f)

print("Deleting all existing relationships (edges) in Neo4j...")
for entity in entities:
    entity_label = entity.capitalize()
    with driver.session() as session:
        existing_count = session.run(f"MATCH (n:{entity_label})-[r]->() RETURN count(r) AS cnt").single()["cnt"]
        session.run(f"MATCH (n:{entity_label})-[r]->() DELETE r")
    print(f"-- {existing_count} relationships deleted for {entity_label}.")


print("\nCreating relationships (edges) in Neo4j...")

df = pd.DataFrame(data)
relationship_types = df.groupby(["entitytype1", "entitytype2", "predicate"]).size().reset_index(name="count")
for index, row in relationship_types.iterrows():
    et1 = row["entitytype1"].capitalize()
    et2 = row["entitytype2"].capitalize()
    predicate = row["predicate"]
    count = row["count"]
    space = " " * (35 - (len(et1) + len(et2) + len(predicate)))

    filtered_df = df[
        (df["entitytype1"] == row["entitytype1"]) & 
        (df["entitytype2"] == row["entitytype2"]) & 
        (df["predicate"] == row["predicate"])
    ]

    for _, drow in filtered_df.iterrows():
        entity1 = drow["entity1"]
        entity2 = drow["entity2"]

        with driver.session() as session:
            query = (
                f"MATCH (a:{et1} {{name: $entity1}}), "
                f"(b:{et2} {{name: $entity2}}) "
                f"CREATE (a)-[r:{predicate}]->(b)"
            )
            session.run(query, entity1=entity1, entity2=entity2)

    print(f"{et1} -[{predicate}]-> {et2}:{count} relationships created")

print(f"\n{len(data)} total relationships created.")

Deleting all existing relationships (edges) in Neo4j...
-- 0 relationships deleted for State.
-- 0 relationships deleted for County.
-- 0 relationships deleted for City.
-- 0 relationships deleted for Community.
-- 0 relationships deleted for Zipcode.

Creating relationships (edges) in Neo4j...
City -[adjacent_to]-> City:                89 relationships created
City -[nearby]-> City:                     226 relationships created
City -[contained_in]-> County:             89 relationships created
Community -[contained_in]-> City:          229 relationships created
Community -[adjacent_to]-> Community:      879 relationships created
Community -[nearby]-> Community:           1912 relationships created
Community -[overlaps_with]-> Zipcode:      385 relationships created
County -[adjacent_to]-> County:            7 relationships created
County -[contained_in]-> State:            58 relationships created
3874 relationships created.

#### Query Entity Relationships

In [149]:
# View communities within "San Diego" city
with driver.session() as session:
    result = session.run(
        "MATCH (c:Community)-[:contained_in]->(ci:City) "
        "WHERE ci.name = $city_name "
        "RETURN c.name AS community_name LIMIT 5",
        city_name="San Diego"
    )
    print("Communities within San Diego city:")
    for record in result:
        print(f"- {record['community_name']}")



# View cities nearby "Poway" city
with driver.session() as session:
    result = session.run(
        "MATCH (c1:City)-[:nearby]->(c2:City) "
        "WHERE c1.name = $city_name "
        "RETURN c2.name AS nearby_city LIMIT 5",
        city_name="Poway"
    )
    print("\nCities nearby Poway:")
    for record in result:
        print(f"- {record['nearby_city']}")

# View communities adjacent to "College West" community
with driver.session() as session:
    result = session.run(
        "MATCH (c1:Community)-[:adjacent_to]->(c2:Community) "
        "WHERE c1.name = $community_name "
        "RETURN c2.name AS adjacent_to LIMIT 5",
        community_name="College West"
    )
    print("\nCommunities adjacent to College West:")
    for record in result:
        print(f"- {record['adjacent_to']}")

Communities within San Diego city:
- Burlingame
- Sherman Heights
- Rancho Bernardo
- Rancho Bernardo
- Rancho Bernardo

Cities nearby Poway:
- Escondido
- San Marcos
- Santee

Communities adjacent to College West:
- Grantville
- Kensington
- El Cerrito
- College East
- College East

In [151]:
# View all cities in "San Diego", sortedd by number of communities (include 0 communities)
with driver.session() as session:
    result = session.run(
        "MATCH (ci:City) "
        "OPTIONAL MATCH (ci)<-[:contained_in]-(c:Community) "
        "WHERE ci.name = $city_name "
        "RETURN ci.name AS city_name, count(c) AS community_count "
        "ORDER BY community_count DESC",
        city_name="San Diego"
    )
    print("\nCities in San Diego sorted by number of communities:")
    for record in result:
        print(f"- {record['city_name']}: {record['community_count']} communities")

Cities in San Diego sorted by number of communities:
- San Diego: 157 communities
- Lemon Grove: 0 communities
- Borrego Springs: 0 communities
- Julian: 0 communities
- Imperial Beach: 0 communities
- Hidden Meadows: 0 communities
- Jamul: 0 communities
- Bonsall: 0 communities
- Jacumba: 0 communities
- Camp Pendleton North: 0 communities
- Bostonia: 0 communities
- Harbison Canyon: 0 communities
- Boulevard: 0 communities
- Winter Gardens: 0 communities
- Valley Center: 0 communities
- Spring Valley: 0 communities
- Santee: 0 communities
- Rancho Santa Fe: 0 communities
- Ramona: 0 communities
- Rainbow: 0 communities
- Pala: 0 communities
- La Presa: 0 communities
- Lakeside: 0 communities
- San Marcos: 0 communities
- Rancho San Diego: 0 communities
- Chula Vista: 0 communities
- Carlsbad: 0 communities
- La Mesa: 0 communities
- Vista: 0 communities
- Solana Beach: 0 communities
- San Diego Country Estates: 0 communities
- Escondido: 0 communities
- Lake San Marcos: 0 communities
- Pine Valley: 0 communities
- Mount Laguna: 0 communities
- Potrero: 0 communities
- Casa de Oro-Mount Helix: 0 communities
- Del Mar: 0 communities
- El Cajon: 0 communities
- Alpine: 0 communities
- Bonita: 0 communities
- Coronado: 0 communities
- Granite Hills: 0 communities
- Encinitas: 0 communities
- Fairbanks Ranch: 0 communities
- Fallbrook: 0 communities
- Eucalyptus Hills: 0 communities
- Camp Pendleton South: 0 communities
- Campo: 0 communities
- Descanso: 0 communities
- Crest: 0 communities
- Poway: 0 communities
- National City: 0 communities
- Oceanside: 0 communities